################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bmp2epf/.vs/bmp2epf/v16
